html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

.home-page-header {
  width: 100vw;
}

img {
  max-width: 100%;
}

.header-address-bar {
  background-color: rgba(0, 0, 0);
  height: 30px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;

  z-index: 1000;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.header-address {
  color: wheat;
  font-size: clamp(0.7rem, 1.4vw, 1.6rem);
}

.fa-brands {
  color: wheat;
  z-index: 1000;
}

.social-media {
  display: flex;
  justify-content: center;
  margin-left: auto;
  align-items: center;
  margin-right: 2rem;
  gap: clamp(1rem, 1vw, 2.5rem);

  font-size: clamp(0.7rem, 1.5vw, 1.6rem);
}

.social-media > * {
  transition: 0.4s ease both;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover {
  opacity: 0.8;
  transform: translateY(3px);
  color: lightcyan;
}

.menu-btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  border-radius: 8px;
  transition: 0.75s;
  cursor: pointer;
  font-size: 1.5rem;
  color: lightblue;

  z-index: 1000;
}

.menu-btn:hover {
  transform: rotate(360deg);
  color: gold;
}

.openMenuBtn {
  margin-right: 2rem;
  background-color: transparent;
  border: none;
}

.closeMenuBtn {
  display: none;
  margin-right: 2rem;
  background-color: transparent;
  border: none;
}

nav {
  margin-top: -100%;
  transition: 1s;
  position: fixed;

  z-index: 999;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 2rem;
  padding: 4rem 0 2rem 0;

  width: 100vw;

  background-color: rgba(0, 0, 0, 0.9);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

  gap: 15px;
  font-size: clamp(1.5rem, 2vw, 2rem);
  z-index: 999;
}

.linksContainer a {
  text-decoration: none;
  color: white;
  transition: all 0.75s;
}

.linksContainer a:hover {
  color: orange;
  transform: translateY(10px);
  padding: 2px;
}

.linksContainer .active-page {
  text-decoration: underline;
  color: blue;
}

.linksContainer .active-page:hover {
  text-decoration: underline;
  color: blue;
  transform: translateY(0);
}

/* Header break points --------------------------- */

/* Main section -----------------------------------------------------------------------------*/

.home-page-main {
  width: 100vw;
  overflow-x: hidden;

  background-color: lightcyan;
}

.name-of-business {
  text-align: center;
  text-shadow: -2px 2px 2px rgb(86, 187, 226);
}

.name-of-restaurant {
  background-color: white;

  min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  position: relative;

  background-image: url(dessertBckgi.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.busy-cook {
  text-align: center;

  font-family: tangerine, sans-serif;
  font-size: clamp(4.5rem, 9vw, 10rem);
  color: blue;
  text-shadow: -1px -1px 1px white;
  margin-top: 50px;
}

.steak-desc {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  width: 100%;

  text-align: center;

  position: relative;

  background-image: url(steakBckgi.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.steak-desc-p {
  width: 80%;

  font-family: Borel, sans-serif;
  font-size: clamp(1rem, 2vw, 2.5rem);

  margin-left: auto;
  margin-right: auto;

  border-radius: 5px;

  text-shadow: -3px 3px 3px blue;
  color: lightcyan;
}

.fish-desc {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  width: 100%;

  text-align: center;

  position: relative;

  background-image: url(salmon.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.fish-desc-p {
  width: 80%;

  font-family: Borel, sans-serif;
  font-size: clamp(1rem, 2vw, 2.5rem);

  margin-left: auto;
  margin-right: auto;

  border-radius: 5px;

  text-shadow: -3px 3px 3px blue;
  color: lightcyan;
}

/* Text appear scroll animation */

.textAppear {
  opacity: 0;
  position: relative;
  bottom: -60px;
  transition: all 0.8s ease-in-out;
}
.show {
  opacity: 1;
  bottom: 0;
}

/* Testimonials */

.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 150vh;

  background-color: black;
}

.testimonials h1 {
  margin-bottom: 8rem;
  margin-top: -200px;

  font-family: Borel, sans-serif;
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  text-shadow: -3px 3px 3px blue;
  color: lightcyan;
}

.testimonials-container {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  row-gap: 1rem;
}

.testimonial-text {
  margin: 0 1rem 0 1rem;
  text-align: center;

  opacity: 0;
  transform: translateX(-100%);

  color: white;

  transition: all 1s;
}

.testimonial-text p {
  font-size: clamp(1rem, 1vw, 1.5rem);
}

.testimonial-text h2 {
  font-size: clamp(1.2rem, 1.2vw, 1.6rem);
}

.testimonial-text-2 {
  transition: all 1s 0.2s;
}

.testimonial-text-3 {
  transition: all 1s 0.4s;
}

.testimonial-text-4 {
  transition: all 1s 0.6s;
}

.show-testimonial {
  opacity: 1;
  transform: translateX(0);
  border: 0.5px solid;
  border-radius: 8px;

  background-color: rgba(0, 0, 65, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

/* Break points */

@media (max-width: 700px) {
  .main-segment {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* @media screen and (max-width: 1125px) {
  .name-of-restaurant,
  .steak-desc,
  .fish-desc {
    background-size: contain;
    background-attachment: scroll;
  }
} */

/* Override for iPhones */
@media screen and (max-width: 1125px) {
  .name-of-restaurant,
  .steak-desc,
  .fish-desc {
    background-attachment: scroll;
  }
}

/* **iOS-Specific Fix** using WebKit detection */
@supports (-webkit-touch-callout: none) {
  .name-of-restaurant,
  .steak-desc,
  .fish-desc {
    background-attachment: scroll;
  }
}
