html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

body {
  background: linear-gradient(90deg, rgb(0, 0, 100), rgb(100, 100, 100));
  color: rgb(245, 222, 179);
}

.home-page-header {
  width: 100vw;
}

img {
  max-width: 100%;
}

.header-address-bar {
  background-color: #000000;
  height: 30px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;

  z-index: 1000;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.header-address {
  color: #f5deb3;
  font-size: clamp(0.7rem, 1.4vw, 1.6rem);
}

.fa-brands {
  color: #f5deb3;
  z-index: 1000;
}

.social-media {
  display: flex;
  justify-content: center;
  margin-left: auto;
  align-items: center;
  margin-right: 2rem;
  gap: clamp(1rem, 1vw, 2.5rem);

  font-size: clamp(0.7rem, 1.5vw, 1.6rem);
}

.social-media > * {
  transition: 0.4s ease both;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover {
  opacity: 0.8;
  transform: translateY(3px);
  color: #e0ffff;
}

.menu-btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  border-radius: 8px;
  transition: 0.75s;
  cursor: pointer;
  font-size: 1.5rem;
  color: #add8e6;

  z-index: 1000;
}

.menu-btn:hover {
  transform: rotate(360deg);
  color: #ffd700;
}

.openMenuBtn {
  margin-right: 2rem;
  background-color: transparent;
  border: none;
}

.closeMenuBtn {
  display: none;
  margin-right: 2rem;
  background-color: transparent;
  border: none;
}

nav {
  margin-top: -100%;
  transition: 1s;
  position: fixed;

  z-index: 999;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 2rem;
  padding: 4rem 0 2rem 0;

  width: 100vw;

  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

  gap: 15px;
  font-size: clamp(1.5rem, 2vw, 2rem);
  z-index: 999;
}

.linksContainer a {
  text-decoration: none;
  color: #ffffff;
  transition: all 0.75s;
}

.linksContainer a:hover {
  color: #ffa500;
  transform: translateY(10px);
  padding: 2px;
}

.linksContainer .active-page {
  text-decoration: underline;
  color: #0000ff;
}

.linksContainer .active-page:hover {
  text-decoration: underline;
  color: #0000ff;
  transform: translateY(0);
}

/* Main */

.restaurant-name {
  justify-content: center;
  align-items: center;

  width: -webkit-max-content;

  width: -moz-max-content;

  width: max-content;

  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;

  font-family: tangerine, sans-serif;
  font-size: clamp(4.5rem, 9vw, 10rem);
  color: white;

  position: relative;
  -webkit-animation: gallery-header-appear 2s both 200ms;
  animation: gallery-header-appear 2s both 200ms;

  max-width: 90%;
}

.restaurant-name::after {
  content: "";
  background: linear-gradient(45deg, white, blue);

  bottom: 0;
  left: 0;

  position: absolute;

  height: 1.8px;
  width: 100%;

  border-radius: 50%;

  -webkit-animation: about-header-appear 2s both 1s;

  animation: about-header-appear 2s both 1s;
}

@-webkit-keyframes gallery-header-appear {
  from {
    opacity: 0;
    scale: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes gallery-header-appear {
  from {
    opacity: 0;
    scale: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

/* ========================== */

section {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  width: 80%;
}

.menu-item {
  padding: 1rem 0 0 2rem;
  transition: 0.4s;
}

h2 {
  font-family: tangerine, sans-serif;
  font-size: clamp(2.3rem, 5.5vw, 2.6rem);
  position: relative;
  bottom: -60px;
  transition: 0.8s;
}

h2::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background: linear-gradient(45deg, #f5de77, #1e1e1e);
  bottom: 1px;
  left: 0;
}

h3 {
  position: relative;
  bottom: -60px;
  transition: 0.8s;
  font-size: clamp(2rem, 3.5vw, 2.5rem);
  font-family: tangerine, sans-serif;
}

h3::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 1px;
  background: linear-gradient(45deg, #ffffff, #0000ff);
  bottom: -1px;
  left: 0;
}

.show {
  bottom: 0;
}
